<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- The Agora SDK requires Bluetooth permissions in case users are using Bluetooth devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- For Android 12 and above devices, the following permission is also required. -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.I210784"
        tools:targetApi="31">
        <activity
            android:name=".verify"
            android:exported="false" />
        <activity
            android:name=".booked_sessions"
            android:exported="false" />
        <activity
            android:name=".edit_profile"
            android:exported="false" />
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".notification"
            android:exported="false" />
        <activity
            android:name=".audio_call"
            android:exported="false" />
        <activity
            android:name=".video_call"
            android:exported="false" />
        <activity
            android:name=".video"
            android:exported="false" />
        <activity
            android:name=".photo"
            android:exported="false" />
        <activity
            android:name=".john_community"
            android:exported="false" />
        <activity
            android:name=".john_cooper_chat"
            android:exported="false" />
        <activity
            android:name=".chats"
            android:exported="false" />
        <activity
            android:name=".book_session"
            android:exported="false" />
        <activity
            android:name=".add_mentor"
            android:exported="false" />
        <activity
            android:name=".dropReview"
            android:exported="false" />
        <activity
            android:name=".johnCooper"
            android:exported="false" />
        <activity
            android:name=".searchResult"
            android:exported="false" />
        <activity
            android:name=".search"
            android:exported="false" />
        <activity
            android:name=".homePage"
            android:exported="false" />
        <activity
            android:name=".resetPass"
            android:exported="false" />
        <activity
            android:name=".forgetPass"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>